@font-face {
  font-family: Alagard;
  src: url("alagard.ttf");
}

html,
body {
  margin: 0;
  height: 100% !important;
  width: 100% !important;
  background-color: black;
  font-family: "Alagard";
  font-size: 12px;
}

.debug-menu {
  background-color: white;
}

.scenario {
  display: flex;
  padding: 8px;
  gap: 24px;
}

#bg,
.interface {
  width: 100%;
  border-radius: 20px;
  border: solid red 4px;
}

#bg {
  background: linear-gradient(45deg, rgb(255 219 158), rgb(253 243 220));
}

.interface {
  background: white;
}
